# MacOS files
.DS_Store

# IDEA editor
.idea

# Dependency directory
# Commenting this out is preferred by some people, see
node_modules
package-lock.json
jspm_packages/
dist/

# dotenv environment variables file
.env

# vs-code workspace
*.code-workspace
.vscode/

# mocha test coverage
coverage/
.nyc_output/

#logs
logs/*.log

*.sample

jwt-secret-key.txt