APP=dev
PORT=4005

DB_DIALECT=mysql
DB_HOST=sample_project-mysql-1
DB_PORT=27017
DB_NAME=assignment
DB_USER=xxx
DB_PASSWORD=xxx

JWT_ENCRYPTION=xxx
JWT_EXPIRATION=10000

SNS_ACCESS_KEY_ID=XXX
SNS_SECRET_ACCESS_KEY=xxx
SNS_REGION=us-east-1
SNS_ARN=xxx

LOG_PATH=./logs
